.slide__info {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  max-width: 488px;
}

@media screen and (max-width: 1280px) {
  .slide__info {
    width: 335px;
  }
}

@media screen and (max-width: 768px) {
  .slide__info {
    margin: 0;
    gap: 0;
    align-items: center;
  }
}
