.slide__img {
  max-width: 488px;
  aspect-ratio: 1/1;
  display: block;
  margin: auto 0;
}


@media screen and (max-width: 1280px) {
  .slide__img {
    width: 335px;

  }
}

@media screen and (max-width: 768px) {
  .slide__img {
    margin: 0;
  }
}
