.commissions__cursor {
  background-image: url(../../../image/comission/cursor.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 45.802px;
  height: 48.738px;
  position: absolute;
  top: 50%;
  right: 10%;

 
}
