.features__curencies-icon {
  width: 96px;
  aspect-ratio: 1/1;
  display: block;
  object-position: center;
  object-fit: contain;

}

@media screen and (max-width: 1344px){
  .features__curencies-icon {
    width: 56px;
  }
}

