.exchange__icons{
  width: 100%;
  height: auto;
  /* height: 106px; */
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

@media screen and (max-width: 768px){
  .exchange__icons{
    height: 100%;
  }
}
