.instruction-section {
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

@media screen and (max-width: 767px){
  .instruction-section{
    grid-column: 1/7;
    flex-direction: column-reverse;
  
  }
}
