.additional__message {
  width: 100%;
  aspect-ratio: 2/1;
  /* height: 222px; */
  background-image: url(../../../image/additional/image\ 1.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size:contain;
  box-sizing: border-box;
  display: block;
}
