.anonymous__slider-slide{
  background-image: url(../../../image/anonymous/1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  width: 100%;
  height: 100%;
}
