.varification {
  display: flex;
  /* width: 692px; */
  padding: 0px 42px 42px 42px;
  flex-direction: column;
  align-items: end;
  border-radius: 40px;
  background: #F7F9FB;
  gap: 20px;
  grid-column: 1/8;
  grid-row: 4/4;
}



.varification:hover .varification__slider-slide:nth-of-type(1) {
  /* transform: translateY(-11%) scale(.9);
  opacity: 0.5; */
  animation-name: slide-one;
  animation-duration: 1s;
  animation-delay: .6s;
  animation-fill-mode: forwards
}

.varification:hover .varification__slider-slide:nth-of-type(2) {
  /* transform: translateY(-11%) scale(.9);
  opacity: 0.5; */
  animation-name: slide-two;
  animation-duration: 3s;
  animation-delay: .5s;

}

.varification:hover .varification__slider-slide:nth-of-type(3) {
  /* transform: translateY(-11%) scale(.9);
  opacity: 0.5; */
  animation-name: slide-three;
  animation-duration: 3s;
  animation-delay: 2.5s;

}

.varification:hover .varification__slider-slide:nth-of-type(4) {
  /* transform: translateY(-11%) scale(.9);
  opacity: 0.5; */
  animation-name: slide-four;
  animation-duration: 3s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards
}

@media screen and (max-width: 1344px) {
  .varification {
    padding: 0 32px 32px;
  }
}
