.anonymous__animation-block {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background: linear-gradient(233.23deg,
      rgba(159, 204, 250, 1) 0%,
      rgba(9, 116, 241, 1) 100%);
  display: flex;
  justify-content: center;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .anonymous__animation-block{
    border-radius: 16px;
    padding: 0 23px;
    box-sizing: border-box;

  }
}
