.commissions__header {
  font-family: "Inter", sans-serif;
  /* font-size: 42px; */
  font-size: calc(28px + 14 * (100vw / 1600));
  font-style: normal;
  font-weight: 629;
  line-height: 110%;
  /* 46.2px */
  letter-spacing: -1.26px;
  align-self: stretch;
  margin: 16px 0 20px 0;
  color: rgba(13, 13, 18, 1);
}

@media screen and (max-width: 768px) {
  .commissions__header {
    font-size: calc(28px + (14 + 14 * 0.7) * ((100vw - 375px) / 1600));
  }
}
