.additional {
  display: flex;
  padding: 42px 56px 42px;
  flex-direction: column;
  justify-content:space-between;
  align-items: flex-start;
  background-color: #F7F9FB;
  border-radius: 32px;
  grid-column: 6/13;
  grid-row: 2/4;

}
