.footer {
  position: relative;
  z-index: 0;
  width: 100%;
  /* height: 272px; */
  margin: 0 auto 0;
  display: grid;
  grid-template-rows: 64px 24px;
  /* justify-content: space-between;
  align-items: center;
  align-content: center; */
  box-sizing: border-box;
  background-color: rgba(35, 35, 40, 1);
  padding: 120px 12.5% 40px;
  row-gap: 24px;
}


@media screen and (max-width: 1200px) {
  .footer {
    /* margin: 44px 20px 40px; */
    justify-content: space-between;
    padding: 56px 20px 32px 20px;
    row-gap: 33px;
    margin: 0 auto;
    height: 198px;
  }
}
