.theme-btn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  background: url(../../image/ligth_theme.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 8px 0 0;
  opacity: 0.7;
  transition: background 0.5s ease;
}

.theme-btn:hover {
  cursor: pointer;
  opacity: 1;
}
