.varification__animation-messege {
  width: 60%;
  height: 250px;
  border-radius: 48px;
  box-shadow: 0px -4px 40px 0px rgba(0, 0, 0, 0.02);
  background-image: url(../../../image/varification/1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 27%;
  right: 50%;
  translate: 50% ;
}
