.slide__fraction-down {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 16.8px */
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  width: 19px;
  height: 17px;
  position: absolute;
  top: 627px;
  right: 12.5%;
  z-index: 25;
}

@media screen and (max-width: 1000px) {
  .slide__fraction-down {
    top: 554px;
  }
}
